.mystyle::before{
  content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.7;
    z-index: -1;
}

.contact{
  display: none;
color: rgb(93, 93, 95);
text-align: center;
font-size: 1.5rem;
margin: 20px;
transition: all 0.3s ease-in;

} 

.circle1 {
    display: flex;
    position: relative;
    width: 270px;
    height: 270px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.3s linear; 
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    
  }
  .circle1::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
.circle1 img {
    width: auto;
    height: 100%;
    margin-left: 0px;
  } 

  .circle1:hover{
    transform: scale(1.05);
  
  }
  

.circle2 {
    display: flex;
    position: relative;
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.3s linear; 
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
  }
  .circle2::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
.circle2 img {
    width: auto;
    height: 100%;
    margin-left: 0px;
  }
  .circle2:hover{
    transform: scale(1.05);
  }
  
 .line{
  display: flex;
   }

 .post{
  height: 135px;
  width: 135px;
  border-radius: 50%;
  transition: all 0.3s linear; 
   position: absolute;

 }
 .post1{
  height: 190px;
  width: 190px;
  border-radius: 50%;
  transition: all 0.3s linear; 
   position: absolute;

 }
 #finalyear{
  background-color: rgba(117, 18, 117, 0.836);
  top: 24vh;
  left: 55vw;
 }
 
 .post:hover{
  height: 140px;
  width: 140px;
  border-radius: 50%;
 }
 .post1:hover{
  height: 195px;
  width: 195px;
  border-radius: 50%;
 }
 h1{
  height: 25vh;
  width: 47vw;
  margin-left: 2vw;
  font-size: 3rem;
  margin-top: 7vh;
 }



 .tag{
  color: white;
  position: absolute;
display: flex;
flex-direction: column;
text-align: center;
font-family: 'Playfair Display', serif;
}

#finalyear{
  background-color: var(--purple);
  top: 25vh;
  left: 54.8vw;
 }

 #h-finalyear{
  top: 30vh;
  left: 56.5vw;
}
#final{
  font-size: 2rem;
}
#year{
  font-size: 1.5rem;
}
 
#coordinators{
  background-color: var(--blue);
  top: 50vh;
  left: 35vw;
 }
#h-coord{
  top: 59vh;
  left: 36.2vw;
  font-size: 1.1rem;
  font-weight: bolder;
}

#sponsorship{
  background-color: var(--pink);
    top: 98vh;
    left: 54vw;
}
#h-sponsorship{
  top: 107vh;
    left: 55.6vw;
    font-size: 1.8rem;
}

#sponsor{
  font-size: 2.5rem;
}

#head{
  font-size: 2rem;
}

:root{

  --yellow:#e4cb35d4 ;
  --blue: #13a3bfb8;
  --purple:rgba(117, 18, 117, 0.836) ;
  --teal: teal;
  --pink: #e41868ad;
  --back-green: rgb(18 118 132 / 71%);
  --back-blue: rgba(35, 87, 182, 0.671);
  --back-purple: rgb(87 18 134 / 55%) ;
}

#quizzers{
  background-color: var(--yellow);
  top: 98vh;
  left: 16vw;
}
#h-quizzers{
  top: 103vh;
  left: 17.5vw;
  font-size: 1.5rem;
}

#foundin{
  background-color: var(--teal);
  top: 89vh;
  left: 4vw;
}
#webhead{
  background-color: var(--yellow);
  top: 126vh;
  left: 45vw;
}
#h-webhead{
  top: 130vh;
    left: 47.5vw;
    font-size: 1.8rem;
}
#quizzersclub{
  background-color: black;
  top: 139vh;
  left: 73vw;
}
#h-quizzersclub{
  top: 149vh;
  left: 75vw;
}
#club{
font-size: 1.4rem;
}
#nit{
  font-size: 2rem;
}
#quiz{
  background-color: var(--blue);
  top: 120vh;
    left: 70vw;
}
#social{
  background-color: var(--pink);
  top: 164vh;
  left: 62vw;
}
#h-social{
  top: 167vh;
  left: 64.5vw;
  font-size: 1.5rem;
}
#designer{
  background-color: var(--yellow);
  top: 173vh;
  left: 6vw;
}
#h-designer{
  top: 181vh;
  left: 7.4vw;
    font-size: 1.6rem;
}
#executive{
  background-color: var(--teal);
  top: 197vh;
    left: 34vw;
}
#h-exe{
  top: 205vh;
  left: 35.4vw;
  font-size: 1.5rem;
}
#prefinal{
  background-color: var(--pink);
  top: 226vh;
  left: 21vw;
}
#h-prefinal{
  top: 237vh;
  left: 23vw;
}
#pre{
font-size: 1.7rem ;
}

#year{
font-size: 1.5rem ;
}

#photographer{
  background-color: var(--purple);
  top: 245vh;
  left: 62vw;
}
#h-photographer{
  top: 254vh;
    left: 63.5vw;
    font-size: 1.1rem;
}

#manit{
  background-color: var(--blue);
  top: 194vh;
  left: 82vw;
}
#star{
  top: 227vh;
  left: 59vw;
  background-color: var(--blue);
}

#plus{
  top: 117vh;
  left: 86vw;
  background-color: teal;

}
#enjoy{
  top: 156vh;
    left: 84vw;
  background-color: var(--blue);

}


 #member1{
  left: 11vw;
    top: 50vh;
  position: absolute;
}
#photo1::before{
  content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--back-purple);
}

 #member2{
  left: 48vw;
  top: 50vh;
  position: absolute;
}
#photo2::after{
  background-color:var(--back-green);
}
 #member3{
  left: 72vw;
    top: 56vh;
    position: absolute;
}
#photo3::after{
  background-color: var(--back-blue);
}

#member4{
  left: 30vw;
    top: 83vh;
    position: absolute;
}
#photo4::after{
  background-color: var(--back-green);
}
#member5{
  left: 71vw;
    top: 90vh;
  position: absolute;
}

#photo5::after{
  background-color:var(--back-purple);
}

#member6{
  left: 13vw;
    top: 124vh;
  position: absolute;

}
#photo6::after{
  background-color: var(--back-blue);
}

#member7{
  left: 29vw;
  top: 129vh;
  position: absolute;
}
#photo7::after{
  background-color: var(--back-purple);
}

#member8{
  left: 57vw;
  top: 132vh;
  position: absolute;
}
#photo8::after{
  background-color: var(--back-green);
}

#member9{
  left: 18vw;
  top: 155vh;
  position: absolute;

}
#photo9::after{
  background-color: var(--back-blue);
}
#member10{
  left: 38vw;
    top: 155vh;
  position: absolute;

}
#photo10::after{
  background-color: var(--back-purple);
}
#member11{
  left: 73vw;
  top: 176vh;
  position: absolute;

}
#photo11::after{
  background-color: var(--back-blue);
}
#member12{
  left: 17vw;
  top: 187vh;
  position: absolute;

}
#photo12::after{
  background-color: var(--back-green);
}
#member13{
  left: 47vw;
  top: 203vh;
  position: absolute;

}
#photo13::after{
  background-color: var(--back-purple);
}
#member14{
  left: 63vw;
  top: 200vh;
  position: absolute;

}
#photo14::after{
  background-color: var(--back-green);
}
#member15{
  left: 4vw;
  top: 216vh;
  position: absolute;

}
#photo15::after{
  background-color: var(--back-blue);
}
#member16{
  left: 37vw;
  top: 232vh;
  position: absolute;

}
#photo16::after{
  background-color: var(--back-purple);
}
#member17{
  left: 76vw;
  top: 232vh;
  position: absolute;

}
#photo17::after{
  background-color: var(--back-green);
}
#member18{
  left: 69vw;
    top: 124vh;
  position: absolute;

}
#photo18::after{
  background-color: var(--back-blue);
}


.post2{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: all 0.3s linear; 
  position: absolute;
}



 


 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
