.team::before{
  content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.7;
    z-index: -1;
}

.team{
  position: relative;
  height: 3822px;
  overflow: hidden !important;
  
}

@media only screen and (max-width: 1500px){

  .team{
    margin-left: 8%;
  }
 
}

@media only screen and (max-width: 1140px){

  .team{
    margin-left: -90px;
  }
 
}
@media only screen and (max-width: 1030px){

   .team #p1{
    top: 30px;
    left: 683px;
   }
  
   .team #h-finalyear{
    top: 30px;
  left: 22px;
  }
  .team #final{
    font-size: 2rem;
  }
  #year{
    font-size: 1.5rem;
  }
   
  .team #p2{
    top: 56px;
    left: 519px;
   }
   .team #h-coord{
    top: 55px;
    left: -29px;
    width: 197px;
    font-size: 1.1rem;
    font-weight: bolder;
  }
  
  .team #p4{
    top: 378px;
    left: 230px;
  }
  .team #h-quizzers{
    top: 29px;
    left: 21px;
    font-size: 1.5rem;
  }
  
  .team #p5{
    top: 513px;
    left: 560px;
  }
  .team #h-sponsorship{
    top: 55px;
    left: 22px;
      font-size: 1.8rem;
  }
  
  .team #sponsor{
    font-size: 2.5rem;
  }
  
  .team #head{
    font-size: 2rem;
  }
  
  .team  #p3{
    top: 803px;
    left: 617px;
  }
  .team #p6{
    top: 955px;
    left: 416px;
  }
  .team #h-webhead{
    top: 24px;
    left: 29px;
      font-size: 1.8rem;
  }
  .team #p7{
    top: 967px;
    left: 565px;
  }
  .team #h-quizzersclub{
    top: 45px;
    left: 45px;
    font-size: 1.5rem;
  }
  
  .team #p8{
    top: 796px;
    left: 902px;
  }
  .team #p9{
    top: 1089px;
    left: 741px;
  }
  .team #h-social{
    top: 17px;
    left: 34px;
    font-size: 1.5rem;
  }
  .team #p10{
    top: 1287px;
    left: 393px;
  }
  .team #h-designer{
    top: 49px;
    left: 20px;
      font-size: 1.6rem;
  }
  .team #p11{
    top: 1158px;
    left: 893px;
  }
  .team #h-exe{
    top: 48px;
    left: 18px;
    font-size: 1.5rem;
  }
  .team #p12{
    top: 1430px;
    left: 718px;
  }
  .team #h-prefinal{
    top: 64px;
    left: 27px;
  }
  .team #pre{
  font-size: 1.7rem ;
  }
  
  .team #year{
  font-size: 1.5rem ;
  }
  
  .team #p13{
    top: 1394px;
    left: 558px;
  }
  .team #h-photographer {
    top: 54px;
    left: 14px;
    font-size: 1.1rem;
  }
  #h-promotion{
    top: 36px;
    left: 14px;
    font-size: 1.5rem;
  }
  #p14{
    top: 1824px;
    left: 383px;
  }
  #h-con{
    font-size: 1.5rem;
    top: 36px;
    left: 25px;
  }
  #p15{
    top: 2126px;
    left: 791px;
  }
  #p16{
    top: 2004px;
    left: 690px;
  }
  #h-video{
    font-size: 1.8rem;
    top: 26px;
    left: 33px;
  }
  #p17{
    top: 2340px;
    left: 506px;
  }
  #h-vihan{
    font-size: 1.8rem;
    top: 24px;
    left: 29px;
  }
  #p18{
    top: 2440px;
    left: 650px;
  }
  #p19{
    top: 2016px;
    left: 857px;
  }
  #p20{
    top: 2417px;
    left: 158px;
  }
  #h-manthan{
    top: 36px;
    left: 20px;
    font-size: 1.5rem;
  }
  
  /* css for circle containing image */
  
  .team #member1{
    left: 228px;
    top: 94px;
    position: absolute;
  }
  
  .team #member2{
    left: 519px;
    top: 196px;
    position: absolute;
  }
  
  .team #member3{
    left: 793px;
    top: 155px;
      position: absolute;
  }
  
  
  .team #member4{
    left: 775px;
    top: 362px;
      position: absolute;
  }
  
  .team #member5{
    left: 383px;
    top: 420px;
    position: absolute;
  }
  
  .team #member6{
    left: 191px;
    top: 550px;
    position: absolute;
  
  }
  
  .team #member7{
    left: 207px;
    top: 919px;
    position: absolute;
  }
  
  .team #member8{
    left: 727px;
    top: 658px;
    position: absolute;
  }
  
  .team #member9{
    left: 342px;
    top: 1105px;
    position: absolute;
  }
  
  .team #member10{
    left: 328px;
    top: 655px;
    position: absolute;
  }
  
  .team #member11{
    left: 756px;
    top: 888px;
    position: absolute;
  }
  
  .team #member12{
    left: 178px;
    top: 1210px;
    position: absolute;
  }
  
  .team #member13{
    left: 533px;
    top: 1191px;
    position: absolute;
  }
  
  .team #member14{
    left: 729px;
    top: 1242px;
    position: absolute;
  }
  
  .team #member15{
    left: 194px;
    top: 1392px;
    position: absolute; 
  }
  
  .team #member16{
    left: 331px;
    top: 1510px;
    position: absolute;
  }
  
  .team #member17{
    left: 638px;
    top: 1633px;
    position: absolute; 
  }
  .team #member18{
    left: 184px;
    top: 1730px;
    position: absolute; 
  }
  .team #member19{
    left: 550px;
    top: 1847px;
    position: absolute; 
  }
  .team #member20{
    left: 843px;
    top: 1621px;
    position: absolute; 
  }
  .team #member21{
    left: 217px;
    top: 1931px;
    position: absolute; 
  }
  .team #member22{
    left: 389px;
    top: 2031px;
    position: absolute; 
  }
  .team #member23{
    left: 756px;
    top: 1821px;
    position: absolute; 
  }
  .team #member24{
    left: 179px;
    top: 2142px;
    position: absolute; 
  }
  .team #member25{
    left: 297px;
    top: 2314px;
    position: absolute; 
  }
  .team #member26{
    left: 651px;
    top: 2230px;
    position: absolute; 
  }
  .team #member27{
    left: 317px;
    top: 2518px;
    position: absolute; 
  }
  .team #member28{
    left: 640px;
    top: 2656px;
    position: absolute; 
  }
  .team #member29{
    left: 836px;
    top: 2324px;
    position: absolute; 
  }
  .team #member30{
    left: 140px;
    top: 2750px;
    position: absolute; 
  }
  .team #member31{
    left: 257px;
    top: 2912px;
    position: absolute; 
  }
  .team #member32{
    left: 450px;
    top: 2813px;
    position: absolute; 
  }
  .team #member33{
    left: 637px;
    top: 2942px;
    position: absolute; 
  }
  .team #member34{
    left: 438px;
    top: 3017px;
    position: absolute; 
  }
 
}

@media only screen and (max-width: 980px){

  .team{
    margin-left: -180px;
  }
  
}
@media only screen and (max-width: 860px){

  .team .line #p1{
    top: 30px;
    left: 709px;
   }
  
   .team #h-finalyear{
    top: 30px;
    left: 22px;
  }
  .team #final{
    font-size: 2rem;
  }
  #year{
    font-size: 1.5rem;
  }
   
  .team #p2{
    top: 43px;
    left: 547px;
   }
   .team #h-coord{
    top: 55px;
    left: -29px;
    width: 197px;
    font-size: 1.1rem;
    font-weight: bolder;
  }
  
  .team #p4{
    top: 406px;
    left: 288px;
  }
  .team #h-quizzers{
    top: 29px;
    left: 21px;
    font-size: 1.5rem;
  }
  
  .team #p5{
    top: 1220px;
    left: 284px;
  }
  .team #h-sponsorship{
    top: 55px;
    left: 22px;
      font-size: 1.8rem;
  }
  
  .team #sponsor{
    font-size: 2.5rem;
  }
  
  .team #head{
    font-size: 2rem;
  }
  
  .team  #p3{
    top: 804px;
    left: 676px;
  }
  .team #p6{
    top: 875px;
    left: 263px;
  }
  .team #h-webhead{
    top: 24px;
    left: 29px;
      font-size: 1.8rem;
  }
  .team #p7{
    top: 1611px;
    left: 678px;
  }
  .team #h-quizzersclub{
    top: 45px;
    left: 45px;
    font-size: 1.5rem;
  }
  
  .team #p8{
    top: 1920px;
    left: 539px;
  }
  .team #p9{
    top: 1343px;
    left: 551px;
  }
  .team #h-social{
    top: 17px;
    left: 34px;
    font-size: 1.5rem;
  }
  .team #p10{
    top: 1408px;
    left: 399px;
  }
  .team #h-designer{
    top: 49px;
    left: 20px;
      font-size: 1.6rem;
  }
  .team #p11{
    top: 1753px;
    left: 344px;
  }
  .team #h-exe{
    top: 48px;
    left: 18px;
    font-size: 1.5rem;
  }
  .team #p12{
    top: 1914px;
    left: 315px;
  }
  .team #h-prefinal{
    top: 64px;
    left: 27px;
    overflow: hidden;
  }
  .team #pre{
  font-size: 1.7rem ;
  }
  
  .team #year{
  font-size: 1.5rem ;
  }
  
  .team #p13{
    top: 2051px;
    left: 510px;
  }
  .team #h-photographer {
    top: 54px;
    left: 14px;
    font-size: 1.1rem;
  }
  
  /* css for circle containing image */
  
  .team #member1{
     left: 296px;
    top: 111px;
    position: absolute;
    overflow: hidden !important;
  }
  
  .team #member2{
    left: 605px;
    top: 199px;
    position: absolute;
  }
  
  .team #member3{
    left: 706px;
    top: 499px;
      position: absolute;
  }
  
  
  .team #member4{
    left: 410px;
    top: 449px;
      position: absolute;
  }
  
  .team #member5{
    left: 264px;
    top: 665px;
    position: absolute;
  }
  
  .team #member6{
    left: 415px;
    top: 782px;
    position: absolute;
  
  }
  
  .team #member7{
    left: 498px;
    top: 944px;
    position: absolute;
  }
  
  .team #member8{
    left: 677px;
    top: 1007px;
    position: absolute;
  }
  
  .team #member9{
    left: 324px;
    top: 1016px;
    position: absolute;
  }
  
  .team #member10{
    left: 608px;
    top: 697px;
    position: absolute;
  }
  
  .team #member11{
    left: 480px;
    top: 1146px;
    position: absolute;
  }
  
  .team #member12{
    left: 674px;
    top: 1210px;
    position: absolute;
  }
  
  .team #member13{
    left: 676px;
    top: 1427px;
    position: absolute;
  }
  
  .team #member14{
    left: 502px;
    top: 1543px;
    position: absolute;
  }
  
  .team #member15{
    left: 305px;
    top: 1558px;
    position: absolute; 
  }
  
  .team #member16{
    left: 663px;
    top: 1843px;
    position: absolute;
  }
  
  .team #member17{
    left: 510px;
    top: 1738px;
    position: absolute; 
  }
 
}
@media only screen and (max-width: 730px){

  .team{
    margin-left: -280px;
  }
  
}
@media only screen and (max-width: 510px){

  .team{
    margin-left: -370px;
  }
  
}
@media only screen and (max-width: 410px){

  .team{
    margin-left: -410px;
  }
  
}

@media only screen and (max-width: 320px){

  .team{
    margin-left: -440px;
  }
  
}

@media only screen and (max-width: 560px){
.team .circle1{
  height: 190px ;
  width:190px ;
}
.team .circle2{
  height: 160px ;
  width: 160px;
}
 .team .post{
  height: 120px;
  width: 120px;
}
.team .post1{
  height:140px ;
  width: 140px;
}
.team .post2{
  height: 90px ;
  width:90px ;
}

  .team .line #p1{
    background-color: var(--purple);
    top: 70px;
    left: 451px;
   }
  
   .team #h-finalyear{
    top: 30px;
    left: 22px;
  }

  .team #final{
    font-size: 1.8rem;
  }
  .team #year{
    font-size: 1.2rem;
  }
   
  .team #p2{
    background-color: var(--blue);
    top: 302px;
    left: 573px;
   }
   .team #h-coord{
    top: 55px;
    left: -29px;
    width: 197px;
    font-size: 1rem;
    font-weight: bolder;

  }
  
  .team #p4{
    background-color: var(--yellow);
    top: 1077px;
    left: 494px;
  }
  .team #h-quizzers{
    top: 29px;
    left: 21px;
    font-size: 1.2rem;
  }
  
  .team #p5{
    background-color: var(--pink);
    top: 604px;
    left: 410px;

  }
  .team #h-sponsorship {
    top: 55px;
    left: 22px;
    font-size: 1.4rem;
  }
  
  .team #sponsor{
    font-size: 2.5rem;
  }
  
  .team #head{
    font-size: 2rem;
  }
  
  .team  #p3{
    background-color: var(--teal);
    top: 1204px;
    left: 418px;
  }

  .team #p6{
    background-color: var(--yellow);
    top: 1693px;
    left: 445px;
  }
  .team #h-webhead{
    top: 24px;
    left: 29px;
    font-size: 1.5rem;
  }
  .team #p7{
    background-color: black;
        top: 1040px;
    left: 631px;
  }
  .team #h-quizzersclub{
    top: 45px;
    left: 45px;
    font-size: 1.2rem;
    overflow: hidden !important;
  }
  
  .team #p8{
    background-color: var(--blue);
    top: 2158px;
    left: 443px;
  }
  .team #p9{
    background-color: var(--pink);
    top: 1386px;
    left: 641px;
  }
  .team #h-social{
    top: 17px;
    left: 34px;
    font-size: 1.5rem;
  }
  .team #p10{
    background-color: var(--yellow);
    top: 1908px;
    left: 599px;
  }
  .team #h-designer{
    top: 49px;
    left: 20px;
    font-size: 1.6rem;
  }
  .team #p11{
    background-color: var(--teal);
    top: 2021px;
    left: 421px;
  }
  .team #h-exe{
    top: 48px;
    left: 18px;
    font-size: 1.5rem;
  }
  .team #p12{
    background-color: var(--pink);
    top: 2422px;
    left: 430px;
  }
  .team #h-prefinal{
    top: 64px;
    left: 27px;
  }
  .team #pre{
  font-size: 1.5rem ;
  }
  
  .team #year{
  font-size: 1.2rem ;
  }
  
  .team #p13{
    background-color: var(--purple);
    top: 2219px;
    left: 619px;
  }
  .team #h-photographer {
    top: 54px;
    left: 14px;
    font-size: 1.1rem;
  }
  
  /* css for circle containing image */
  
  .team #member1{
    left: 587px;
    top: 99px;
    position: absolute;
    overflow: hidden !important;
  }
  
  .team #member2{
    left: 377px;
    top: 201px;
    position: absolute;
  }
  
  .team #member3{
    left: 406px;
    top: 424px;
      position: absolute;
  }
  
  
  .team #member4{
    left: 590px;
    top: 449px;
      position: absolute;
  }
  
  .team #member5{
    left: 385px;
    top: 765px;
    position: absolute;
  }
  
  .team #member6{
    left: 535px;
    top: 882px;
    position: absolute;
  
  }
  
  .team #member7{
    left: 363px;
    top: 944px;
    position: absolute;
  }
  
  .team #member8{
    left: 571px;
    top: 1201px;
    position: absolute;
  }
  
  .team #member9{
    left: 461px;
    top: 1348px;
    position: absolute;
  }
  
  .team #member10{
    left: 561px;
    top: 664px;
    position: absolute;
  }
  
  .team #member11{
    left: 380px;
    top: 1514px;
    position: absolute;
  }
  
  .team #member12{
    left: 559px;
    top: 1534px;
    position: absolute;
  }
  
  .team #member13{
    left: 583px;
    top: 1728px;
    position: absolute;
  }
  
  .team #member14{
    left: 419px;
    top: 1843px;
    position: absolute;
  }
  
  .team #member15{
    left: 553px;
    top: 2042px;
    position: absolute; 
  }
  
  .team #member16{
    left: 569px;
    top: 2380px;
    position: absolute;
  }
  
  .team #member17{
    left: 459px;
    top: 2248px;
    position: absolute; 
  }
 
}

:root{

  --yellow:#e4cb35d4 ;
  --blue: #13a3bfb8;
  --purple:rgba(117, 18, 117, 0.836) ;
  --teal: teal;
  --pink: #e41868ad;
  --back-green: rgb(18 118 132 / 71%);
  --back-blue: rgba(35, 87, 182, 0.671);
  --back-purple: rgb(87 18 134 / 55%) ;
}

.contact{
  display: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  position: relative;
  border-radius: 27px;
  text-align: center;
}

#i1,#i2,#i4,#i10,#i16{
  display: none;
  margin: -79px 44px;
  padding: 5px;
  font-size: 1.3rem;
}

#i3,#i5,#i6,#i7,#i8,#i9,#i11,#i12,#i13,#i14,#i15,#i17{
  display: none;
  font-size: 1.0rem;
  margin: -64px 29px;
  padding: 10px;
}
.circle1 {
    display: flex;
    position: relative;
    width: 270px;
    height: 270px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.3s linear; 
    animation-timing-function: ease-in-out;
    animation-duration: 1s;    
  }
  .circle1::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
.circle1 img {
    width: auto;
    height: 100%;
    margin-left: 0px;
  } 

  .circle1:hover{
    transform: scale(1.05);
  
  }
  

.circle2 {
    display: flex;
    position: relative;
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.3s linear; 
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
  }
  .circle2::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
.circle2 img {
    width: auto;
    height: 100%;
    margin-left: 0px;
  }
  .circle2:hover{
    transform: scale(1.05);
  }
  
 .line{
  display: flex;
  position: relative;
   }

 .post{
  height: 135px;
  width: 135px;
  border-radius: 50%;
  transition: all 0.3s linear; 
   position: absolute;
background-color: cadetblue;
 }
 .post1{
  height: 190px;
  width: 190px;
  border-radius: 50%;
  transition: all 0.3s linear; 
   position: absolute;
   background-color: cadetblue;
 }
 .post2{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: all 0.3s linear; 
  position: absolute;
  overflow: hidden !important;
  background-color: cadetblue;
}
.post:hover{
  height: 140px;
  width: 140px;
  border-radius: 50%;
 }
 .post1:hover{
  height: 195px;
  width: 195px;
  border-radius: 50%;
 }

/* css for smaller circle and textes */


.tag{
 color: white;
 position: absolute !important;
display: flex;
flex-direction: column;
text-align: center;
font-family: 'Playfair Display', serif;
}
.position{
  position: absolute;

}
#finalyear{
  background-color: var(--purple);
 }
#p1{
  top: 30px;
  left: 683px;
}

 #h-finalyear{
  top: 30px;
  left: 22px;
}
#final{
  font-size: 2rem;
}
#year{
  font-size: 1.5rem;
}
 
#coordinators{
  background-color: var(--blue);
 }
 #p2{
  top: 196px;
  left: 455px;
 }

#h-coord{
  top: 55px;
  left: -29px;
  width: 197px;
  font-size: 1.1rem;
  font-weight: bolder;
  position: absolute;
}

#quizzers{
  background-color: var(--yellow);
}
#p4{
  top: 530px;
    left: 235px;
}
#h-quizzers{
  top: 29px;
  left: 21px;
  font-size: 1.5rem;
}

#sponsorship{
  background-color: var(--pink);
}
#p5{
  top: 503px;
  left: 692px;
}
#h-sponsorship{
  top: 55px;
  left: 22px;
    font-size: 1.8rem;
}

#sponsor{
  font-size: 2.5rem;
}

#head{
  font-size: 2rem;
}

#foundin{
  background-color: var(--teal);
}
#p3{
  top: 470px;
  left: 90px;
}
#webhead{
  background-color: var(--yellow);
 
}
#p6{
  top: 678px;
    left: 534px;
}

#h-webhead{
  top: 24px;
  left: 29px;
    font-size: 1.8rem;
}
#quizzersclub{
  background-color: black;

}
#p7{
  top: 757px;
    left: 891px;
}
#h-quizzersclub{
  top: 45px;
  left: 45px;
  font-size: 1.5rem;
}

#quiz{
  background-color: var(--blue);
}
#p8{
  top: 631px;
    left: 902px;
}
#social{
  background-color: var(--pink);
}
#p9{
  top: 974px;
    left: 964px;
}
#h-social{
  top: 17px;
  left: 34px;
  font-size: 1.5rem;
}
#designer{
  background-color: var(--yellow);
}
#p10{
  top: 1032px;
  left: 123px;
}
#h-designer{
  top: 49px;
  left: 20px;
    font-size: 1.6rem;
}
#executive{
  background-color: var(--teal);
}
#p11{
  top: 1158px;
  left: 489px;
}
#h-exe{
  top: 48px;
  left: 18px;
  font-size: 1.5rem;
}
#prefinal{
  background-color: var(--pink);
}
#p12{
  top: 1347px;
  left: 718px;
}
#h-prefinal{
  top: 64px;
  left: 27px;
}
#pre{
font-size: 1.7rem ;
width: 142px;
}

#year{
font-size: 1.5rem ;
}

#photographer{
  background-color: var(--purple);
}
#h-photographer{
  font-size: 1.2rem;
  top: 54px;
  left: 14px;
}
#p13{
  top: 1319px;
  left: 558px;
}
#h-promotion{
  top: 36px;
  left: 14px;
  font-size: 1.5rem;
}
#p14{
  top: 1549px;
  left: 138px;
}
#h-con{
  font-size: 1.5rem;
  top: 36px;
  left: 25px;
}
#p15{
  top: 1570px;
  left: 481px;
}
#p16{
  top: 1801px;
  left: 958px;
}
#h-video{
  font-size: 1.8rem;
  top: 26px;
  left: 33px;
}
#p17{
  top: 2080px;
  left: 506px;
}
#h-vihan{
  font-size: 1.8rem;
  top: 24px;
  left: 29px;
}
#p18{
  top: 1977px;
  left: 876px;
}
#p19{
  top: 2164px;
  left: 806px;
}
#p20{
  top: 2217px;
  left: 158px;
}
#h-manthan{
  top: 36px;
  left: 20px;
  font-size: 1.5rem;
}
/* css for circle containing image */

 #member1{
  left: 160px;
  top: 196px;
  position: absolute;
}

 #member2{
  left: 629px;
  top: 196px;
  position: absolute;
}

 #member3{
  left: 939px;
  top: 235px;
    position: absolute;
}


#member4{
  left: 394px;
  top: 377px;
    position: absolute;
}

#member5{
  left: 899px;
  top: 438px;
  position: absolute;
}

#member6{
  left: 119px;
    top: 681px;
  position: absolute;

}

#member7{
  left: 329px;
  top: 668px;
  position: absolute;
}

#member8{
  left: 694px;
  top: 745px;
  position: absolute;
}

#member9{
  left: 231px;
  top: 858px;
  position: absolute;
}

#member10{
  left: 442px;
  top: 847px;
  position: absolute;
}

#member11{
  left: 761px;
  top: 951px;
  position: absolute;
}

#member12{
  left: 289px;
  top: 1079px;
  position: absolute;
}

#member13{
  left: 659px;
  top: 1124px;
  position: absolute;
}

#member14{
  left: 868px;
  top: 1135px;
  position: absolute;
}

#member15{
  left: 99px;
  top: 1196px;
  position: absolute; 
}

#member16{
  left: 260px;
  top: 1306px;
  position: absolute;
}

#member17{
  left: 940px;
  top: 1321px;
  position: absolute; 
}
#member18{
  left: 284px;
  top: 1624px;
  position: absolute; 
}
#member19{
  left: 650px;
  top: 1568px;
  position: absolute; 
}
#member20{
  left: 843px;
  top: 1621px;
  position: absolute; 
}
#member21{
  left: 217px;
  top: 1807px;
  position: absolute; 
}
#member22{
  left: 440px;
  top: 1751px;
  position: absolute; 
}
#member23{
  left: 756px;
  top: 1821px;
  position: absolute; 
}
#member24{
  left: 84px;
  top: 1984px;
  position: absolute; 
}
#member25{
  left: 297px;
  top: 2014px;
  position: absolute; 
}
#member26{
  left: 666px;
  top: 2004px;
  position: absolute; 
}
#member27{
  left: 331px;
  top: 2224px;
  position: absolute; 
}
#member28{
  left: 840px;
  top: 2256px;
  position: absolute; 
}
#member29{
  left: 636px;
  top: 2229px;
  position: absolute; 
}
#member30{
  left: 140px;
  top: 2450px;
  position: absolute; 
}
#member31{
  left: 340px;
  top: 2521px;
  position: absolute; 
}
#member32{
  left: 640px;
  top: 2450px;
  position: absolute; 
}
#member33{
  left: 837px;
  top: 2561px;
  position: absolute; 
}
#member34{
  left: 540px;
  top: 2644px;
  position: absolute; 
}

/* css for background color */

#photo1::before{
  content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--back-purple);
}
#photo2::after{
  background-color:var(--back-green);
}
#photo3::after{
  background-color: var(--back-blue);
}
#photo4::after{
  background-color: var(--back-green);
}
#photo5::after{
  background-color:var(--back-purple);
}
#photo6::after{
  background-color: var(--back-blue);
}
#photo7::after{
  background-color: var(--back-purple);
}

#photo8::after{
  background-color: var(--back-green);
}
#photo9::after{
  background-color: var(--back-blue);
}
#photo10::after{
  background-color: var(--back-purple);
}
#photo11::after{
  background-color: var(--back-blue);
}
#photo12::after{
  background-color: var(--back-green);
}
#photo13::after{
  background-color: var(--back-purple);
}
#photo14::after{
  background-color: var(--back-green);
}
#photo15::after{
  background-color: var(--back-blue);
}
#photo16::after{
  background-color: var(--back-purple);
}

#photo17::after{
  background-color: var(--back-green);
}
#photo18::after{
  background-color: var(--back-green);
}
#photo19::after{
  background-color: var(--back-green);
}
#photo20::after{
  background-color: var(--back-green);
}
#photo21::after{
  background-color: var(--back-green);
}
#photo22::after{
  background-color: var(--back-green);
}
#photo23::after{
  background-color: var(--back-green);
}
#photo24::after{
  background-color: var(--back-green);
}
#photo25::after{
  background-color: var(--back-green);
}
#photo26::after{
  background-color: var(--back-green);
}
#photo27::after{
  background-color: var(--back-green);
}
#photo28::after{
  background-color: var(--back-green);
}
#photo29::after{
  background-color: var(--back-green);
}
#photo30::after{
  background-color: var(--back-green);
}
#photo17::after{
  background-color: var(--back-green);
}
#photo31::after{
  background-color: var(--back-green);
}
#photo32::after{
  background-color: var(--back-green);
}
#photo33::after{
  background-color: var(--back-green);
}
#photo34::after{
  background-color: var(--back-green);
}

 


 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
